/* html,
body {
    margin: 0px;
    height: 100%;
} */

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.mainOutsideDiv{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
        /* height: 100%;
        width: 100%; */
}
/* .autocomplete{
    display: flex;
    margin-top: 60px;
} */

.themeProviderDiv{
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
    /* top: 0;
    margin-top: 0; */
}
 
.boxDiv{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 100%;
}


.avtaricon{
    display: flex;
    top: 0;
    left: 0;
} 

.mainbody{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 60%;
    position: relative;
    /* align-items: center;
    justify-content: center; */
}

.typographySignIn{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


.mainbodysignin{
    /* margin-left: 6rem; */
    display: flex;
    flex-direction: column;
    height: 0;
    /* margin-top: 40rem; */
    /* width: 100%; */
}

.toggleButton{
    display: flex;
    /* flex-direction: column; 
    flex-wrap: nowrap; */
    left: 0;
    height: 100%;
    width: 100%;
}

.papers{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}

.differentPapers{
    display: flex;
    flex-direction: column;
}

.paperselevation{
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.togglebuttonstyle{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    height: 50px;
    width: 50px;
    /* background-color: rgb(8, 19, 19); */
    border: 0;
}